@using bikeRental.Application.Models.Station;
@model bikeRental.Application.Models.Order.OrderModel

@{
    ViewData["Title"] = "Finish";
    var stations = ViewData["Stations"] as IEnumerable<StationResponse>;
    Guid stationId = new Guid() ;
}

<div class="container mx-4 pt-2">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h2>End your ride</h2>
            <form asp-action="Finish" asp-route-stationId="@stationId">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="Customer.Id" />
@*                <input type="hidden" asp-for="Customer.UserName" />
*@                <input type="hidden" asp-for="Customer.Email" />
                <input type="hidden" asp-for="Customer.FirstName" />
                <input type="hidden" asp-for="Customer.LastName" />
                <input type="hidden" asp-for="Customer.Role" />
                <input type="hidden" asp-for="Bicycle.Id" />
                <input type="hidden" asp-for="Bicycle.Price" />
                <input type="hidden" asp-for="Bicycle.Type" />
                <input type="hidden" asp-for="Bicycle.Description" />
                <input type="hidden" asp-for="Bicycle.Status" />
                <input type="hidden" asp-for="Bicycle.Station.Id" />
                <input type="hidden" asp-for="Bicycle.Station.Address" />
                <input type="hidden" asp-for="Bicycle.Station.lattitude" />
                <input type="hidden" asp-for="Bicycle.Station.longitude" />
                <input type="hidden" asp-for="RentalStartTime" />
                <input type="hidden" asp-for="RentalEndTime" />
                <input type="hidden" asp-for="RentalPrice" />
                <select class="form-select required" aria-label="Example select with button addon" name="stationId">
                    <option value="">All stations</option>
                    @foreach (var station in stations)
                    {
                        <option value="@station.Id" selected="@(station.Id == stationId)">@station.Address</option>                     
                        
                    }
                </select>
                <h4>Your renting time ends now! </h4>


                <div class="form-group mt-3">
                    <input type="submit" value="Finish" class="btn btn-primary" />
                    <a class="btn btn-light" asp-controller="Orders" asp-action="UserIndex">Back to Full List</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
